@{
    ViewBag.Title = "크롤링";
}
<body>
    <div>
        <h4>[입력]</h4><br />
        <table class="table">
            <tr>
                <td>URL</td>
                <td><input type="text" id="Url" class="form-control" /></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    <select id="Type" class="form-control">
                        <option value="onlyText">HTML 태그 제외</option>
                        <option value="AllText">Text 전체</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>출력 단위 묶음</td>
                <td><input type="text" id="Unit" class="form-control" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" onclick="fnAjax()" class="form-control btn-primary">출력</button></td>
            </tr>
        </table>
        <h4>[출력]</h4><br />
        <table class="table">
            <tr>
                <td>몫</td>
                <td id="share"></td>
            <tr>
                <td>나머지</td>
                <td id="remain"></td>
            </tr>
        </table>
    </div>
</body>

<script>
    function fnAjax() {
        var url = $("#Url").val();
		var unit = $("#Unit").val();

		//프로토콜을 포함하고 있는 URL 정규식
		var regex = /^((http(s?))\:\/\/)([0-9a-zA-Z\-]+\.)+[a-zA-Z]{2,6}(\:[0-9]+)?(\/\S*)?$/

        if (url == "" || regex.test(url) == false) {
            alert('올바른 URL을 입력해주세요');
            return;
        }
        if (isNaN(unit)) {
            alert('출력 묶음 단위는 숫자로 입력해주세요.');
            return;
        }

        var senddata = "strUrl=" + url + "&strType=" + $("#Type option:selected").val();

        $.ajax({
            type: "POST",
            url: "/Home/PrintResultAjax",
            data: senddata,
            success: function (result) {
                fnPrintResult(result, unit);
            },
            beforeSend: function (res) {
                var width = 0;
                var height = 0;
                var left = 0;
                var top = 0;

                width = 300;
                height = 300;


                top = ($(window).height() - height) / 3 + $(window).scrollTop();
                left = ($(window).width() - width) / 2 + $(window).scrollLeft();

                if ($("#div_ajax_load_image").length != 0) {
                    $("#div_ajax_load_image").css({
                        "top": top + "px",
                        "left": left + "px"
                    });
                    $("#div_ajax_load_image").show();
                }
                else {
                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="http://news-plaza.com/newsml/images/ajax_loader.gif" style="width:300px; height:300px;"></div>');
                }
            },
            complete: function (result) {
                $("#div_ajax_load_image").hide();
            },
            error: function (error) {
                alert("조회 실패");
            }
        });

    }

    function fnPrintResult(result, unit) {
        document.getElementById('share').innerText = result.substring(0, unit);
        document.getElementById('remain').innerText = result.substring(unit, result.length);
    }
</script>